#body {
    padding: 2rem;
}

#curr-word {
    display: inline-block;
    height: 5.2rem;
    width: 100%;
    min-width: 1rem;
    font-size: 4rem;
    text-align: left;
    vertical-align: baseline;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

#curr-word:empty:not(:focus):before {
    content: attr(data-ph);
    color: grey;
    font-size: 2rem;
    vertical-align: middle;
    font-style: italic;
    text-transform: none;
}

#curr-word:empty:before {
    content: attr(data-ph);
    color: #555;
}

#curr-word:empty:focus:before {
    content: "";
}

#submit {
    height: 3rem;
    font-size: 1.5rem;
    margin: 1rem auto;
    border-radius: 0.5em;
}

a.btn.btn-word {
    margin: 0.2em;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: capitalize;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

#alert-box {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
}

.step-item > a::before {
    border-color: var(--bg-color) !important;
}

.panel {
    border-color: var(--accent-color);
}

.panel-title {
    font-weight: 600;
    font-size: 1rem;
}

#score-bar-container {
    height: 3rem;
}

#score-bar {
    margin-bottom: 1.5rem;
}
